/* css reset and universal styles*/
* {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

/* Reusable component styles */
.container {
  max-width: 1360px;
  margin: 0 auto;
}

.primary-btn {
  padding: 12px 16px;
  border-radius: 5px;
  background-color: rgba(70, 145, 101, 1);
  border: 1px solid rgba(70, 145, 101, 1);
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.common-headline {
  color: rgba(0, 25, 49, 1);
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  text-transform: capitalize;
}

/* Native styles */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0px;
}

nav a {
  color: black;
  margin: 0px 15px;
}

nav a:hover {
  color: rgba(70, 145, 101, 1);
}

#nav-cta-btn:hover {
  background-color: white;
  color: rgba(70, 145, 101, 1);
}

.hero {
  background: url(./assets/hero-bg.png);
  height: 674px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.promo-btn {
  color: rgba(70, 145, 101, 1);
  font-weight: 500;
  font-size: 16px;
  background-color: white;
  border-radius: 50px;
  padding: 8px 15px;
}

.hero h1 {
  font-size: 72px;
  font-weight: bold;
  color: white;
}

.hero p {
  color: white;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
}

.cta-1:hover {
  color: white;
  border: 1px solid white;
  background-color: transparent;
}

.cta-2 {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  padding: 12px 16px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  cursor: pointer;
}

.cta-2:hover {
  background-color: rgba(70, 145, 101, 1);
  border: 1px solid rgba(70, 145, 101, 1);
}

.cta-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.notes p {
  color: #627382;
  line-height: 20px;
  margin: 15px 0px;
}

.notes {
  text-align: center;
  padding: 80px 0px;
  background-color: #fbfbfb;
}

.notes-card img {
  background: rgba(249, 85, 85, 1);
  padding: 14px;
  border-radius: 50px;
}

.notes h4 {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  text-transform: capitalize;
  color: rgba(0, 25, 49, 1);
}

.notes-card {
  max-width: 23%;
  padding: 60px 24px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
}

.notes-cards-container {
  display: flex;
  gap: 24px;
  margin: 30px auto;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.solution {
  padding: 120px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.solution img {
  border-radius: 12px;
}

.solution p {
  color: #627382;
  line-height: 20px;
  margin: 15px 0px;
  max-width: 500px;
}

.key-point {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 500;
  color: rgba(0, 25, 49, 1) !important;
}

.key-point-container {
  margin: 30px 0px;
  color: rgba(0, 25, 49, 1);
}

.cta p {
  color: #627382;
  line-height: 20px;
  margin: 15px 0px;
  line-height: 24px;
}

.cta {
  background-color: #f7f6f2;
  border-radius: 12px;
  padding: 80px 20px;
  text-align: center;
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 120px;
}

#cta-2:hover {
  color: rgba(70, 145, 101, 1);
  border: 1px solid rgba(70, 145, 101, 1);
}
