/* css reset and universal styles*/
* {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

/* Reusable component styles */
.container {
  max-width: 1360px;
  margin: 0 auto;
}

.primary-btn {
  padding: 12px 16px;
  border-radius: 5px;
  background-color: #30b868;
  border: 1px solid #30b868;
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

/* Native styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0px;
}

nav a {
  color: black;
  margin: 0px 15px;
}

nav a:hover {
  color: #30b868;
}

#nav-cta-btn:hover {
  background-color: white;
  color: #30b868;
}
